@model CollegeWebsite.Models.User
@{
    ViewData["Title"] = "Delete";
    var title = "Delete User";
}


<form method="post" enctype="multipart/form-data">
    <div class="border p-3">

       
            <input asp-for="Id" hidden />
          


        <div class="form-group row">
            <h2 class="text-info pl-3">@title</h2>
        </div>







        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="UserName"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="UserName" disabled class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="FirstName"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="FirstName" disabled class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>

                </div>


                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="LastName"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="LastName"  disabled class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>

                </div>


                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Email"></label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="Email"  disabled class="form-control summernote"></textarea>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="PhoneNo"></label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="PhoneNo"  disabled class="form-control summernote"></textarea>
                        <span asp-validation-for="PhoneNo" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Role"></label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="Role"  disabled class="form-control summernote"></textarea>
                        <span asp-validation-for="Role" class="text-danger"></span>
                    </div>

                </div>

                @if (Model.Id == 0)
                {
                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="Password"></label>
                        </div>
                        <div class="col-8">
                            <textarea asp-for="Password" class="form-control summernote"></textarea>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                    </div>
                }


                <!--

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.CategoryId"></label>

                    </div>
                    <div class="col-8">
                        <select asp-for="Product.CategoryId" asp-items="" class="form-control">
                            <option disabled selected> --Select Category-- </option>
                        </select>
                        <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                    </div>

                </div>


                            <div class="form-group row">
                                <div class="col-4">
                                    <label asp-for="Product.ApplicationTypeId"></label>

                                </div>
                                <div class="col-8">
                                    <select asp-for="Product.ApplicationTypeId" asp-items="" class="form-control">
                                        <option disabled selected> --Select Category-- </option>
                                    </select>
                                    <span asp-validation-for="Product.ApplicationTypeId" class="text-danger"></span>
                                </div>

                            </div>

                                 -->



                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            
                                
                                <input type="submit" class="btn btn-primary w-100" value="Delete" />


                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100"><i class="fas fa-sign-out-alt"></i> Back</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>

@section Scripts {

    @{
        <partial name="_ValidationScriptsPartial" />
    }



}